{% extends 'base.html' %}

{% load filters %}

{% block content %}
  <form method="POST">
    {% csrf_token %}

    <h4>Dados do cliente</h4>
    {% for field in client_form %}
      {% ifnotequal field.label "Endereço" %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|addclass:"form-control" }}
          {{ field.errors }}
        </div>
      {% endifnotequal %}
    {% endfor %}

    <hr>
    <h4>Endereço</h4>
    {% for field in address_form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field|addclass:"form-control" }}
        {{ field.errors }}
      </div>
    {% endfor %}

    <div><input type="submit" value="Salvar" class="btn btn-primary"></div>
  </form>
{% endblock content %}