<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TW Clients</title>
</head>
<body>
  <table>
    <thead>
      <th>
        <td>Nome</td>
        <td>Data de Nascimento</td>
        <td>Sexo</td>
      </th>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.birth_date }}</td>
          <td>{{ client.gender }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>