{% extends 'base.html' %}

{% block content %}
  <section class="box box-default">
    <div class="box-header with-border">
      <h1 class="box-title">Detalhes do Cliente</h1>
    </div>

    <div class="box-body">
      <p><strong>Nome:</strong> {{ client.name }}</p>
      <p><strong>Profissão</strong> {{ client.occupation }}</p>
      <p><strong>Data de Nascimento:</strong> {{ client.birth_date }}</p>
      <p><strong>Email:</strong> {{ client.email }}</p>
      <p><strong>Sexo:</strong> {{ client.gender }}</p>
      <hr>
      <h2>Endereço</h2>
      <p><strong>Rua:</strong> {{ client.address.street }}</p>
      <p><strong>Bairro:</strong> {{ client.address.neighborhood }}</p>
      <p><strong>Cidade:</strong> {{ client.address.city }}</p>
    </div>

  </section>
{% endblock content %}