{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>Nome</td>
        <th>Data de Nascimento</td>
        <th>Sexo</td>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td>{{ client.name }}</td>
          <td>{{ client.birth_date }}</td>
          <td>{{ client.gender }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'clients:client-create' %}" class="btn btn-primary">Cadastrar</a>
{% endblock content %}