{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>Nome</td>
        <th>Data de Nascimento</td>
        <th>Sexo</td>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for client in clients %}
        <tr>
          <td><a href="{% url 'clients:client-detail' pk=client.pk %}">{{ client.name }}</a></td>
          <td>{{ client.birth_date }}</td>
          <td>{{ client.gender }}</td>
          <td>
            <a href="{% url 'clients:client-update' pk=client.pk %}" class="btn btn-warning">Editar</a>
            <a href="{% url 'clients:client-delete' pk=client.pk %}" class="btn btn-danger">Deletar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'clients:client-create' %}" class="btn btn-primary">Cadastrar</a>
{% endblock content %}