{% extends 'base.html' %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>Cliente</td>
        <th>Data</td>
        <th>Valor</th>
        <th>Status</td>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td><a href="{% url 'clients:order-detail' pk=order.pk %}">{{ order.client }}</a></td>
          <td>{{ order.date }}</td>
          <td>{{ order.value }}</td>
          <td>{{ order.status }}</td>
          <td>
            <a href="{% url 'clients:order-update' pk=order.pk %}" class="btn btn-warning">Editar</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <a href="{% url 'clients:order-create' %}" class="btn btn-primary">Cadastrar</a>
{% endblock content %}