{% extends 'base.html' %}

{% block content %}
  <section class="box box-default">
    <div class="box-header with-border">
      <h1 class="box-title">Detalhes do Pedido</h1>
    </div>

    <div class="box-body">
      <p><strong>Cliente:</strong> {{ order.client }}</p>
      <p><strong>Data:</strong> {{ order.date }}</p>
      <p><strong>Valor:</strong> R${{ order.value }}</p>
      <p><strong>Status:</strong> {{ order.status }}</p>
      <p><strong>Descrição:</strong> {{ order.comments }}</p>

      <hr>
      <h4>Lista de Produtos</h4>
      <ul>
        {% for product in order.products.all %}
          <li>{{ product }}</li>
        {% endfor %}
      </ul>
    </div>

  </section>
{% endblock content %}