{% extends 'adminlte/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

  <title>TW Clients</title>
</head>
<body>

  <main class="container">
    {% block content %}
      <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Alert!</h4>
        Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my entire
        soul, like these sweet mornings of spring which I enjoy with my whole heart.
      </div>
    {% endblock content %}
  </main>

</body>
</html>